:root{
    --pink:#FD56A4;
    --orange: #FFB760;
    --blue: #437FE1;
    --blue1: #6CA4DF;
    --blue1: #6DCDF3;
    --blue2: #82E6F2;
    --blue-shadow: 	#362C53;
    --blue-shadow2: #040000;
    --yellow: #FFD21F;
    --yellow-shadow: #9D5613;
    --sky: 	#FFFDF7; 
    --sky-shadow: #99F5FB;
    --green: #7EB427;
    --gray: #8E8E8B;
    --gray-shadow: #484742;
    --gray1: #C5D1D7;
    --black: #000000;
    --brown: #402401;
    --brown1: #805610;
    --brown2: #9A6D00;
    --star: #FFEEC4;
    --red: 	#C82226;
} 
